@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	border: 0px;
	background-image:url(../images/puzzle2.jpg);
	background-repeat:repeat;
	background-color: #333;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
}

#game-boards {
	width: 100%;
	text-align:center;   /*makes the board central alligned*/
}

.puzzle-pieces, .puzzle-board {
	margin-top: 40px;
	height: 400px;
	display: inline-block;
	border: solid yellow;
	background-color: #000;
	color: inherit;
	overflow: hidden;
} /*this properties are for the 2 boxes of pieces and the puzzle board :) */

.puzzle-pieces {
	width: 300px;
	margin-right: 20px;

}  /*puzzle box*/

.puzzle-board {
	width:600px;
	background-image: url('../images/backGround0.jpg');
	background-repeat: no-repeat;
}  /*puzzle board*/

.puzzle-image {
	width: 50%;
	display:block;
	padding: 8px;
	cursor:grabbing;  /*how the cursor looks on hovering*/
} /*these are the images inside the box*/

.puzzle-image:nth-child(even) {
	float: right;
	clear: both;
}
.puzzle-image:nth-child(odd) {
	float: left;
	clear: both;
}  /*nth child property- specifies a certain element whose position is odd or even  (it can be any numbers,  from anything like p, section ig :] )*/

.drop-zone {
	width: 50%;
  height: 50%;
  /*border: thin dashed white;*/
  float: left;
	position: relative;
}

/* reset the drop zone images, can make it any size*/
.drop-zone img {
	width:100% !important;
	float: none;
	/*position:relative;*/
}

/*place each puzzle piece in the middle */
.tl img {
	right:0;
	bottom:0;
}
.tr img{
	bottom:0;
}

.bl img{
	right:0;
}
.br img{
	bottom:0;
}
header {
	position: relative;
	top: 20px;
	width:600px;
	margin: 0px auto;
	text-align: center;
}

header h1 {
	font-size: 3.25em;
  letter-spacing: 3px;
	margin: 10px 0
}

header p, footer p { font-size: 1.7em; letter-spacing: 2px; margin: 10px 0 }

footer {
	position: relative;
	top: 65px;
	width:600px;
	margin: 0px auto;
	text-align: center;
}

#buttonHolder {
	margin: 0px auto;
	text-align:left;
}

#buttonHolder img {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	border: thin solid #333;
	cursor:grabbing;
}

#buttonHolder img:hover {
	opacity:.5;
}
